body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  width: 500px;
  height: 500px;
  margin: 0 auto;
}

.App header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: darkgreen;
  padding: 10px 10px;
}

.header {
  display: flex;
  align-items: center;
}

.header > div {
  padding-left: 10px;
}
