body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  width: 500px;
  height: auto;
  margin: 0 auto;
  border: 2px solid gray;
}

.App header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: darkgreen;
  padding: 10px 10px;
}

.header {
  display: flex;
  align-items: center;
}

.header > div {
  padding-left: 10px;
}

.board {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #dcd6bc;
  border: 10px solid #dcd6bc;
}

.empty {
  border: 1px dotted red;
  height: 30px;
  width: 30px;
  box-sizing: border-box;
}

.mine {
  border: 1px solid blue;
  height: 30px;
  width: 30px;
  box-sizing: border-box;
}
